.movie-view {
  margin-top: 50px;
  text-align: center;
}

.movie-title {
  margin: 10px 10px;
  font-size: 32px;
}

.movie-description {
  max-width: 500px;
  margin: 0 auto;
}

.movie-director {
  margin-top: 20px;
}

.movie-genre {
  margin-bottom: 20px;
}